header { background-color: red; }

h1 {
	color: white;
	text-align: center;

}

h2 { color: red; }

section { background-color: #ffe5e5; }

a {
	color: white;
	background-color: green;
}

img { display: none; }
