header { background-color: #FF0000; }

h1 {
	color: #FFFFFF;
	text-align: center;

}

h2 { color: #FF0000; }

section { background-color: #ffe5e5; }

a {
	color: #FFFFFF;
	background-color: #008000;
}

img { display: none; }
